<table mat-table matSort (matSortChange)="sortChange($event)" [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="countryName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
    <td class="row-cell" mat-cell *matCellDef="let element">
      {{element.countryName}}
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td class="row-cell" mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td class="row-cell" mat-cell *matCellDef="let element">
      <button mat-icon-button>
        <mat-icon>open_in_new</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20, 40]" style="justify-content:center;"
showFirstLastButtons>
</mat-paginator>

