table {
  width: 100%;
}

.mat-paginator {
  display: flex;
  justify-content: center;
}

.row-cell {
  display: table-cell;
  width: 2%;
}

.filter{
  margin: 3% 6% 3% 6%;
}

.mat-form-field {
  margin-right: 3%;
}

.filter-buttons {
  text-align: right;
}

.filter-buttons  > * {
  margin-right: 10px;
}
