.paginator {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.filter {
  align-items: center;
  display: flex;
  margin: 25px;
}

.filter > * {
  margin-right: 25px;
}
